.bg{
    background: url('../images/bg.jpg') no-repeat ;
    width: 100vw;
    height: 100vh;
    background-color: black

}

.box{
    width: 300px;
    height: 250px;
}
.fig{ 
    position: relative;
    width: 120em;
    bottom: 5em;
    /* transform: translateY(-5em); */
}
.run{ 
    position: relative;
    width:900%;
    bottom: 50px;
}

.buttons{
    margin-top: 100px;
    margin-left: 40px;
}
button{
    padding: 10px 20px;
    border-radius: 20%;
    margin-left: 5px;
}