.background{
    background: url('./images/bg.jpg') no-repeat ;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0)

}
*{
    overflow: hidden;
}

.box{
    position: relative;
    left: 50%;
    top: 25%;
}